* {
  padding: 0;
  margin: 0;
}
body {
  background: #000;
  font-family: "Source Sans Pro", sans-serif;
}

/* HEADER */
 

nav .navbar {
  transition: 0.5s all;
}

nav .navbar .logo{
    padding:0rem 1rem;
}
.logo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block;
}

nav .navbar-brand {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  letter-spacing: 2px;
}


.navbarScroll.navbarDark {
  background-color: black;
}
nav .navbar-nav li {
  padding: 0rem 1rem;
}

nav .navbar-nav li a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #aaa9a9;
}

nav .navbar-nav li a:hover {
  font-size: 1.3rem;
  color: #ece9e9;
}
.navbar-nav a {
  position: relative;
  text-decoration: none;
  color: #aaa9a9; 
  padding-bottom: 5px; 
}

.navbar-nav a.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: #46c8cd; 
  transition: width .8s ease;
}
.navbar-nav .nav-link.active{
  color:#46c8cd;
}

nav .menu{
  color:white;
  cursor:pointer;
}


/* HOME */
.bgImg {
  height: 100vh;
  background-image: url("images/home-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 25%;
}
.element {
  color: #46c8cd;
}

.hero-text p {
  color: #ffffff;}

@media only screen and (min-width: 992px){

  .hero-text h3 {
    font-size: 2.2rem;
  }
  
  .hero-text h1 {
    font-size: 3.4rem;
  }
  .hero-text p {
    color: #ffffff;
    font-size: 1.3rem;
  }
}

.hero-text a {
  font-size: 1.2rem;
  border: 2px solid #46c8cd;
  padding: 0.4rem 1.9rem;
  background-color: #46c8cd;
  color: #fff;
  margin: 0.6rem 0rem;
  border-radius: 2rem;
  font-weight: 600;
}
.hero-text a:hover {
  color: #000;
  background-color: #47e4ea;
  box-shadow: blueviolet 0px 2px 4px 0px, blueviolet 0px 2px 16px 0px;
}
@media only screen and (min-width: 768px) {
  .hero-text h3 {
    font-size: 1rem;
  }
  
  .hero-text h1 {
    font-size: 3rem;
  }
  
  .hero-text p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 600px) {
  .hero-text h3 {
    font-size: 1.6rem;
  }
  
  .hero-text h1 {
    font-size: 2.3rem;
  }
  
  .hero-text p {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero-text h3 {
    font-size: 1rem;
  }
  
  .hero-text h1 {
    font-size: 2rem;
  }
  
  .hero-text p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}

@media only screen and (max-width: 420px) {
  .hero-text a {
    font-size: .8rem;
    padding: 0.4rem 1.9rem;
    margin: 0.6rem 0rem;
    border-radius: 2rem;
  }
}
/* ABOUT SECTION */

#about,
#project,
#contact {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
#about p,
#project p,
#contact p {
  color: #666;
  font-size: 1.2rem;
}
#about h2,
#project h2,
#contact h2 {
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
}
#about h2::after,
#project h2::after,
#contact h2::after {
  content: "";
  position: absolute;
  top: calc(100% + 1rem);
  height: 5px;
  width: 3rem;
  background: #46c8cd;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills__skill {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}

/* PROJECT SECTION */

#project .row .col-lg-6 img {
  width: 90%;
  border: 10px solid black;
  border-radius: 1rem;
}
#project .row button a {
  text-decoration: none;
  color: #fff;
}
#project .row button:hover {
  border: 4px solid blueviolet;
}
#project .row button {
  font-size: 1.2rem;
  padding: 0.4rem 2rem;
  margin: 1rem 0rem;
}

/* CONTACT SECTION */
#contact p {
  font-size: 2rem;
}
#contact .row {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #3b3b3b;
}

#contact form i{
    color:#fff;
    padding-right: .2rem;
}
#contact .row input,
#contact .row textarea {
  background-color: rgb(245 245 245);
  color: #666;
  font-weight: 500;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem;
}
#contact .row label {
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
}
#contact .row button {
  padding: 0.4rem 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  background-color: #46c8cd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media only screen and (max-width: 412px){
  #contact .row button {
    padding: 0.4rem ;
    font-size: 1rem;
  }
}

#contact h5 {
  font-size: 1.4rem;
}


/* FOOTER */
footer hr {
  width: 100%;
  margin: auto;
}

footer .social-links ul li{
    list-style-type: none;
    padding:0rem 1rem;
}
footer .social-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
}
footer .social-links ul li a:hover{
   color:#46c8cd
}

